<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Setting </title>
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="../static/css/homestyle.css">
    <script src="../static/js/script.js"defer></script>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-classic.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-plain.css" />
<link rel= "stylesheet" href= url_for('static', filename='styles.css')>
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
    <link rel="stylesheet" href="../static/css/homestyle.css">
    <script src="../static/js/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="sidebar-header">
        <a class="logo-wrapper">
          <img src="../static/assest/google.svg" alt="Logo">
            <h2 class="hidden">Flask App</h2>
        </a>
        <button class="toggle-btn">
          <img src="../static/assest/expand.svg" alt="expand button">
        </button>
      </div>


      <div class="sidebar-links">
        <a class="link " href="/">
          <img src="../static/assest/home.svg" alt="">
          <span class="hidden">Home</span>
        </a>

        <a class="link" href="/dashboard">
          <img src="../static/assest/dashboard.svg" alt="">
          <span class="hidden">Dashboard</span>
        </a>
        </li>
        <a class="link"  href="/Task-note">
          <img src="../static/assest/tasks.svg" alt="">
          <span class="hidden">Tasks</span>
        </a>
      <a class="link " href="/telegram">
          <img src="../static/assest/telegram.svg" alt="">
          <span class="hidden">Telegram </span>
        </a>
      </div>


      <div class="sidebar-bottom">
        <div class="sidebar-links">

          <a class="link active">
            <img src="../static/assest/settings.svg" alt="">
            <span class="hidden">Settings</span>
          </a>
                <a class="link" href="/logout">
          <img src="../static/assest/logout.svg" alt="">
          <span class="hidden">Logout</span>
        </a>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../static/assest/profile-pic2.jpg" alt="">
          </div>
          <div class="user-details hidden">
            <p class="username">{{ user.first_name }}</p>
            <p class="user-email">{{ user.email }}</p>
          </div>
        </div>
      </div>
    </nav>


    <div class="parent-container">

    <div class="container-setting">
      <div class="blog-task">

        <div class="blog-context">
          <div class="published">

 <div >

            <h6 class="title"> Change Password</h6>
     {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
<form class="pasform" method="POST" action="{{ url_for('auth.change_password') }}"  >
    <div class="form-pss" >
                        <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
    </div>
    <div class="form-pss">
                <label for="confirm_password">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
                  <button type="submit"> <i class="fa fa-password"></i> Change Password </button>

  </form>
        </div>
           <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.1/dist/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
</html>