{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container my-5" xmlns="http://www.w3.org/1999/html">
  <div class="text-left mt-5 mb-4">
    <h3 class="welcome-message">
      <i class="fa fa-user user-icon"></i>
      Welcome <span class="user-name">{{ user.first_name }}</span>
    </h3>

      <style>
          .welcome-message {
              padding-top: 40px;
    font-size: 16px;
  }
  .user-icon {
    font-size: 1.5rem;
    color: #007bff;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  .user-name {
    color: #555;
  }
      </style>
  </div>

  <!-- Notes list -->
  <h2 class="text-center mb-3">Your Notes</h2>
  <div class="notes-section">
    {% if user.notes %}
    <ul class="list-group list-group-flush mb-4">
      {% for note in user.notes %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ note.data }}
        <button type="button" class="close" aria-label="Close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">You have no notes yet.</p>
    {% endif %}
  </div>


  <form method="POST" class="add-note-form my-4"  >

    <textarea name="note" id="note" class="form-control" rows="3" placeholder="Write a new note..."></textarea>
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-plus"></i> Add Note
      </button >

    </div>
  </form>

</div>
<div class="text-center my-4">
<form id="note-form" class="mb-4">
    <textarea id="note-text" class="form-control" rows="3" placeholder="Write a note for sending in Telegram @flasktotel"></textarea>
    <button type="submit" class="btn btn-info mt-3">
      <i class="fa fa-telegram"></i> Telegram
    </button>

  </form>
   <style>

            .btn-info{
    background-color: #1da1f2;
    border-color: #1da1f2;
  }


      </style>
<script>

document.getElementById('note-form').onsubmit = function(event) {
  event.preventDefault();
  var noteText = document.getElementById('note-text').value;
  fetch('/send-to-telegram', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ message: noteText }),
  })
 .then(response => response.json())
  .then(data => {
    if (data.success) {
      clearAndAlert('your note send to Telegram  https://t.me/flasktotel Succesfully ')
    } else {
      clearAndAlert('EROR yor note dont send')
    }

  });
};
function clearAndAlert(message) {
  document.getElementById('note-text').value = '';
  alert(message);
}


</script>
</div>
{% endblock %}
